.jumbotron{
    background: 
  linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url(https://source.unsplash.com/1600x1050/?computer+screen);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  height:100vh;
  }